[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
requests = "*"
docopt = "*"

[requires]
python_version = "3.7"

[scripts]
help = "python -m aysa --help"
version = "python -m aysa --version"
tag = "python -m aysa tag"
